.ListBox{
    width: 768px;
    height: 300px;
}

.ListName{
    width: 768px;
    height: 40px;
    background-color: rgb(238, 238, 238);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.ListName1{
    margin: 0px 70px;
    font-size: 25px;
}

.ListPrint {
    width: 768px;
    height: 200px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 5px; // 스크롤바의 너비
    }
    &::-webkit-scrollbar-track {
        background: #f8b9b9; // 스크롤바 트랙(배경)의 색상
        border-radius: 10px; // 트랙의 모서리를 둥글게
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888; // 스크롤바의 색상
        border-radius: 10px; // 스크롤바의 모서리를 둥글게
        border: 5px solid #f1f1f1; // 스크롤바와 트랙 사이의 공간 색상
        height: 50%;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; // 스크롤바에 마우스를 올렸을 때의 색상
    }
}


.ListSum{
    width: 768px;
    height: 40px;
    background-color: rgb(250, 212, 212);
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
}