.IngredientBtnBox{
    width: 768px;
    height:80px;
    display: inline-flex;
    justify-content: center;
    align-content: center;

}

.IngredientBtnSmallBox{
    height:70px;
    font-size:50px;
    margin: 15px 60px;
    padding: 1px 15px;
    display: inline-flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    border-radius: 10px;
}
.IngredientBtnSmallBox:hover{
    background-color: white;
    border-radius: 10px;
}
.IngredientBtnSmallBox.white{
    background-color: white;
}
.IngredientBtnSmallBox.black{
    background-color:transparent;
}