#Title  {
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
    top:30px;
    max-width: 768px;
}

#TitleName{
    z-index: 4;
    font-size: 70px;
}

.Circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
    justify-content: center;
    position:absolute;
    z-index: 0;
    right: 260px;
}